body {
    padding: 50px;
    font: 14px "Lucida Grande", "Helvetica", Arial, sans-serif;
    background-color: white;
}

h1 {
    color: #0d9488;
    /* Color teal-600 exacto */
    font-size: 2.25rem;
    font-weight: 700;
}

button {
    margin-top: 20px;
}